<h2>Available drones</h2>
{{#unless allDrones.length}}
    <p>No drones for now :/</p>
{{/unless}}

{{#each allDrones}}
    <div class="drone-info-container">
        <h3>{{this.name}}</h3>
        <span>This drone has <strong>{{this.propellers}}</strong> propellers.</span>
        <span>It's max speed is <strong>{{this.maxSpeed}}</strong>.</span>
        {{!-- <a href="/heroes/delete/{{_id}}">delete</a> --}}
        <form method="post" action="/drones/{{_id}}/delete">
            <button id="btn-delete">Delete</button>
        </form>
    </div>
{{/each}}